{% extends 'Message:Mothership:User::account:account-layout' %}
{% block title %}Pay Return Balance | {{ app.cfg.app.name }}{% endblock %}

{% block account_content %}

	<section>
		<h1>Pay Return Balance</h1>
	</section>

	<section>
		{% if amount %}
			{% for return in returns %}
				<dl>
					<dt>Item</dt>
					<dd>{{ return.item.description }}</dd>

					<dt>Amount</dt>
					<dd>{{ return.item.balance|abs|price }}</dd>
				</dl>
			{% endfor %}

			<div class="totals">
				<p>Total: {{ amount|price }}</p>
			</div>

			{{ form_start(form) }}

				<button class="button submit">Continue</button>
			{{ form_end(form) }}

		{% else %}
			<p>Nothing to pay.</p>
		{% endif %}
	</section>

{% endblock %}