{# @todo replace this with a loop #}
{% set returnItem = return.item %}

<div class="group">
	<h2 class="title">
		{{ returnItem.description }}
	</h2>
	<div class="content" id="return{{ return.id }}">
		<h2>Return Details</h2>
		<dl class="order-details">
			<dt>Reason</dt>
			<dd>{{ returnItem.reason }}</dd>

			<dt>Resolution</dt>
			{% if return.isExchangeResolution %}
				<dd>
					Exchange for <a href="{{ url('ms.commerce.product.edit.details', {productID: returnItem.exchangeItem.productID}) }}" data-live>{{ returnItem.exchangeItem.productName }} - {{ returnItem.exchangeItem.options }}</a>
				</dd>
			{% else %}
				<dd>Refund</dd>
			{% endif %}

			{% if returnItem.hasBalance %}
				{% if not returnItem.hasRemainingBalance %}
					<dt>Balance</dt>
					<dd>Cleared</dd>
				{% elseif returnItem.payeeIsRetailer %}
					<dt>Customer Balance</dt>
					<dd>{{ returnItem.balance|abs|price }}</dd>
				{% elseif returnItem.payeeIsCustomer %}
					<dt>Your Balance</dt>
					<dd>{{ returnItem.balance|abs|price }}</dd>
				{% endif %}
			{% else %}
				{% if returnItem.payeeIsRetailer %}
					<dt>Customer Balance</dt>
					<dd>{{ returnItem.calculatedBalance|abs|price }}</dd>
				{% elseif returnItem.payeeIsCustomer %}
					<dt>Your Balance</dt>
					<dd>{{ returnItem.calculatedBalance|abs|price }}</dd>
				{% else %}
					<dt>Balance</dt>
					<dd>{{ 0|price }}</dd>
				{% endif %}
			{% endif %}

			<dt>Status</dt>
			<dd>{{ returnItem.status }}</dd>

			{% if returnItem.note %}
				<dt>Note</dt>
				<dd>{{ returnItem.note.note }}</dd>
			{% endif %}

			<dt>Created by</dt>
			<dd><a href="{{ url('ms.cp.user.admin.detail.edit', {userID: returnItem.order.user.id}) }}">{{ return.authorship.createdUser.name }}</a> on {{ return.authorship.createdAt|date }}</dd>

			{% if not returnItem.authorship.updatedAt is empty and not returnItem.authorship.updatedBy is empty %}
				<dt>Updated by</dt>
				<dd>{{ returnItem.authorship.updatedBy }} <span>at</span> {{ returnItem.authorship.updatedAt|date }}</dd>
			{% endif %}
		</dl>
		<a class="button small submit" href="{{ url('ms.commerce.return.view', {returnID: return.id}) }}">Process this Return</a>
	</div>
</div>