<div class="group">
	<h2 class="title">
	{{ return.item.description }}
	</h2>
	<div class="content" id="return{{ return.id }}">
		<h2>Return Details</h2>
		<dl class="order-details">
			<dt>Reason </dt>
				<dd>{{ return.reason }}</dd>
			<dt>Resolution</dt>
				<dd>{{ return.resolution }}
				{% if return.isExchangeResolution %}
					{% if return.exchangeItem %}
						for <a href="{{ url('ms.commerce.product.edit.details', {productID: return.exchangeItem.productID}) }}" data-live>{{ return.exchangeItem.productName }} - {{ return.exchangeItem.options }}</a>
					{% else %}
						{ERROR}
					{% endif %}
				{% endif %}
				</dd>
				{% if not return.hasBalance %}
					{% if return.payeeIsClient %}
						<dt>Customer Balance</dt>
							<dd>{{ return.calculatedBalance|abs|price }}</dd>
					{% elseif return.payeeIsCustomer %}
						<dt>Your Balance</dt>
							<dd>{{ return.calculatedBalance|abs|price }}</dd>
					{% else %}
						<dt>Balance</dt>
							<dd>None</dd>
					{% endif %}
				{% else %}
					{% if return.payeeIsClient %}
						<dt>Customer Balance</dt>
							<dd>{{ return.balance|abs|price }}</dd>
					{% elseif return.payeeIsCustomer %}
						<dt>Your Balance</dt>
							<dd>{{ return.balance|abs|price }}</dd>
					{% else %}
						<dt>Balance</dt>
							<dd>Cleared</dd>
					{% endif %}
				{% endif %}
			<dt>Status </dt>
				<dd>{{ return.item.status }}</dd>
			</li>
			{% if return.note %}
				<dt>Note</dt>
					<dd>{{ return.note.note }}</dd>
			{% endif %}
			<dt>Created by </dt>
				<dd>{{ return.order.user.name }} on {{ return.authorship.createdAt|date }}</dd>
			{% if not return.authorship.updatedAt is empty and not return.authorship.updatedBy is empty %}
				<dt>Updated by {{ return.authorship.updatedBy }}</dt>
					<dd><span>at</span> {{ return.authorship.updatedAt|date }}</dd>
			{% endif %}
		</dl>
		<a class="button small submit" href="{{ url('ms.commerce.return.view', {returnID: return.id}) }}">Process this Return</a>
	</div>
</div>