<div class="container" id="return{{ return.id }}">
	<section class="group">
		<h1 class="title">
			{<a href="{ url('ms.commerce.product.edit', {productID: return.item.productID}) }" data-live>{{ return.item.productName }}</a> }
			{{ return.item.brand }} {{ return.item.productName }}
		</h1>

		<ul class="order-details">
			<li><span>Reason </span>{{ return.reason }}</li>
			<li>
				<span>Resolution </span>{{ return.resolution }}
				{% if return.isExchangeResolution %}
					for <a href="{{ url('ms.commerce.product.edit', {productID: return.exchangeItem.productID}) }}" data-live>{{ return.exchangeItem.productName }} - {{ return.exchangeItem.options }}</a>
				{% endif %}
			</li>
			<li><span>Status </span>{{ return.item.status }}</li>
			<li><span>Created by</span> {{ return.authorship.createdBy }} <span>at</span> {{ return.authorship.createdAt|date }}</li>
			{% if not return.authorship.updatedAt is empty and not return.authorship.updatedBy is empty %}
				<li><span>Updated by</span> {{ return.authorship.updatedBy }} <span>at</span> {{ return.authorship.updatedAt|date }}</li>
			{% endif %}
		</ul>

		{# Show the accept / reject option if neither action has yet been taken #}
		{% if not return.isAccepted and not return.isRejected %}
			<h2 class="title">Accept / Reject</h2>
			{{ form_start(accepted_form) }}
				{{ form_row(accepted_form.accept_reject) }}
				{{ form_row(accepted_form.message) }}

				<button class="button submit">Update</button>
			{{ form_end(accepted_form) }}
		{% endif %}

		{# Show refund / exchange forms if the return has been accepted #}
		{% if return.isAccepted %}

			{# Show the received form if not yet set #}
			{% if not return.isReceived %}
				<h2 class="title">Returned Package</h2>
				{{ form_start(received_form) }}
					{{ form_row(received_form.received) }}
					{{ form_row(received_form.received_date) }}
					
					<button class="button submit">Notify Customer</button>
				{{ form_end(received_form) }}
			{% else %}
				<ul class="order-details">
					<li><span>Received </span>The customer has been notified that the package was received</li>
				</ul>
			{% endif %}

			{# Show either the exchange or refund form depending on the resolution type #}
			{% if return.isExchangeResolution %}
				<h2 class="title">Exchange</h2>
				
				<ul class="order-details">
					<li><span>Replacement Item</span>
						<a href="{{ url('ms.commerce.product.edit', {productID: return.exchangeItem.productID}) }}" data-live>{{ return.exchangeItem.productName }} - {{ return.exchangeItem.options }}</a>
					</li>
				</ul>

				{# Show the exchanged form if not yet enacted #}
				{% if not return.isExchanged %}
					{{ form_start(exchange_form) }}
						{{ form_row(exchange_form.balance) }}
						{{ form_row(exchange_form.balance_approve) }}
						{{ form_row(exchange_form.refund_method) }}
						
						<button class="button submit">Process Exchange</button>
					{{ form_end(exchange_form) }}

				{# else notify that the exchange has been made #}
				{% else %}
					<ul class="order-details">
						<li><span>Exchanged </span>The item has been exchanged</li>
						<li><span>Status </span>{{ return.exchangeItem.status }}</li>
					</ul>
				{% endif %}

			{% elseif return.isRefundResolution %}
				<h2 class="title">Refund</h2>

				{# Show the refund form if not yet enacted #}
				{% if not return.isRefunded %}
					{{ form_start(refund_form) }}
						{{ form_row(refund_form.refund_amount) }}
						{{ form_row(refund_form.refund_approve) }}
						{{ form_row(refund_form.stock_location) }}
						{{ form_row(refund_form.refund_method) }}

						<button class="button submit">Process Refund</button>
					{{ form_end(refund_form) }}

				{# else show the refund payments made #}
				{% else %}
					{% for refund in return.refunds %}
						<ul class="order-details">
							<li><span>Amount </span>{{ refund.amount|price }}</li>
							<li><span>Method </span>{{ refund.method.getDisplayName() }}</li>
							<li><span>Date </span>{{ refund.authorship.createdAt()|date }}</li>
						</ul>
					{% endfor %}
				{% endif %}

			{% endif %}
		{% endif %}

		{# Show a message if the return has been rejected #}
		{% if return.isRejected %}
			<ul class="order-details">
				<li><span>Status </span>This return was <strong>rejected</strong></li>
			</ul>
		{% endif %}

	</section>
</div>