<div class="container" id="return{{ return.id }}">
	<section class="group">
		<h1 class="title">
			{<a href="{ url('ms.commerce.product.edit', {productID: return.item.productID}) }}" data-live>{{ return.item.productName }}</a> }
			{{ return.item.brand }} {{ return.item.productName }}
		</h1>

		<ul class="order-details">
			<li><span>Reason </span>{{ return.reason }}</li>
			<li><span>Resolution </span>{{ return.resolution }}</li>
			<li><span>Status </span>{{ return.status }}</li>
			<li><span>Created by</span> {{ return.authorship.createdBy }} <span>at</span> {{ return.authorship.createdAt|date }}</li>
			{% if not return.authorship.updatedAt is empty and not return.authorship.updatedBy is empty %}
				<li><span>Updated by</span> {{ return.authorship.updatedBy }} <span>at</span> {{ return.authorship.updatedAt|date }}</li>
			{% endif %}
		</ul>

		{# Show the accept / reject option if neither action has yet been taken #}
		{% if not return.isAccepted and not return.isRejected %}
			<h2 class="title">Accept / Reject</h2>
			{{ form_start(accepted_form) }}
				{{ form_row(accepted_form.message) }}

				<button>Accept</button>
				<button>Reject</button>
			{{ form_end(accepted_form) }}
		{% endif %}

		{# Show refund / exchange forms if the return has been accepted #}
		{% if return.isAccepted %}
			<h2 class="title">Returned Package</h2>
			{{ form_start(received_form) }}
				{{ form_row(received_form.received) }}
				{{ form_row(received_form.received_date) }}
				
			{{ form_end(received_form) }}

			{# Show either the exchange or refund form depending on the resolution type #}
			{% if return.isExchangeResolution %}
				<h2 class="title">Exchange</h2>
				exchange form

			{% elseif return.isRefundResolution %}
				<h2 class="title">Refund</h2>
				{{ form_start(refund_form) }}
					{{ form_row(refund_form.refund_amount) }}
					{{ form_row(refund_form.refund_approve) }}
					{{ form_row(refund_form.stock_location) }}
					{{ form_row(refund_form.refund_method) }}

					<button type="submit">Process Refund</button>
				{{ form_end(refund_form) }}
			{% endif %}
		{% endif %}

	</section>
</div>