<h1>Return an item</h1>

<p>Item to be returned: {{ item.getDescription }}</p>

<p>{{ resolutionMessage }}</p>

<p>{{ balanceMessage }} {{ balance|price }}</p>

<p>Additional notes: {{ data.note }}</p>

<a href="{{ url('ms.user.order.detail', {orderID: item.order.id}) }}">Back</a> or <a class="button submit" href="{{ url('ms.user.return.store', {itemID: item.id}) }}">Proceed</a>