<h1>Return an item</h1>

<dl>
	<dt>Item to be returned</dt>
	<dd>{{ item.productName }} - {{ item.options }}</dd>
</dl>

{{ form_start(form) }}
	{{ form_row(form.reason) }}
	{{ form_row(form.resolution) }}

	{# show / hide this with js #}
	{{ form_row(form.exchangeUnit) }}

	<button class="button submit">Submit</button>
{{ form_end(form) }}