{% extends '::return:listing:template' %}

{% block returns %}
	<hgroup class="title">
		<h1>Returns</h1>
	</hgroup>
	
	<div class="container-content">
	{% if not returns is empty %}
		<table class="return-listing">
			<thead>
			<tr>
				<th><span>Item</span></th>
				<th><span>Created at</span></th>
				<th><span>User</span></th>
				<th><span>Resolution</span></th>
				<th><span>Status</span></th>
				<th><span>Balance</span></th>
			</tr>
			</thead>
			<tbody>
				{% for return in returns %}
					<tr>
						<td><a href="{{ url('ms.commerce.order.view.returns', {orderID: return.order.id}) }}">{{ return.item.productName }}</a></td>
						<td>{{ return.authorship.createdAt|date }}</td>
						<td><a href="">{{ return.authorship.createdBy }}</a></td>
						<td>{{ return.resolution }}</td>
						<td>{{ return.item.status }}</td>
						<td>{{ return.balance|price }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>{{ 'ms.commerce.return.status.none'|trans }}</p>
	{% endif %}
	</div>
{% endblock %}