{% extends '::return:template' %}

{% block returns %}
	<hgroup class="title">
		<h1>{{ status }}</h1>
	</hgroup>

	<div class="container-content extended">
	{% if not returns is empty %}
		<table class="return-listing">
			<thead>
			<tr>
				<th><span>Return ID</span></th>
				<th><span>Order ID</span></th>
				<th><span>Item</span></th>
				<th><span>Created at</span></th>
				<th><span>User</span></th>
				<th><span>Resolution</span></th>
				<th><span>Status</span></th>
				<th><span>Balance</span></th>
				<th><span>Payee</span></th>
			</tr>
			</thead>
			<tbody>
				{% for return in returns %}
					<tr>
						<td><a href="{{ url('ms.commerce.return.view', {returnID: return.id}) }}">{{ return.id }}</a></td>
						<td><a href="{{ url('ms.commerce.order.view.return', {orderID: return.order.id}) }}">{{ return.order.id }}</a></td>
						<td>{{ return.item.productName }}</td>
						<td>{{ return.authorship.createdAt|date }}</td>
						<td><a href="{{ url('ms.cp.user.admin.detail.edit', {userID: return.order.user.id}) }}">{{ return.order.user.name }}</a></td>
						<td>{{ return.resolution }}</td>
						<td>{{ return.item.status }}</td>
						<td>
							{% if not return.hasBalance %}
								{% if return.payeeIsClient %}
									{{ return.calculatedBalance|price }} (calculated)
								{% elseif return.payeeIsCustomer %}
									{{ return.calculatedBalance|price }} (calculated)
								{% endif %}
							{% else %}
								{% if return.payeeIsClient %}
									{{ return.balance|price }}
								{% elseif return.payeeIsCustomer %}
									{{ return.balance|price }}
								{% endif %}
							{% endif %}
						</td>
						<td>
							{% if return.payeeIsClient %}
								You
							{% elseif return.payeeIsCustomer %}
								Customer
							{% endif %}
						</tr>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>{{ 'ms.commerce.return.status.none'|trans }}</p>
	{% endif %}
	</div>
{% endblock %}