{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	<ol class="menu">
		<li><a href="{{ url('ms.commerce.return.listing') }}">All Returns</a></li>
		<li><a href="{{ url('ms.commerce.return.listing.status', {'status': 'open'}) }}">Open Returns</a></li>
		<li><a href="{{ url('ms.commerce.return.listing.status', {'status': 'completed'}) }}">Completed Returns</a></li>
		<li><a href="{{ url('ms.commerce.return.listing.status', {'status': 'rejected'}) }}">Rejected Returns</a></li>
	</ol>
{% endblock %}

{% block main %}
	<hgroup class="title">
		<h1>Returns</h1>
	</hgroup>

	{% if not returns is empty %}
		<table class="return-listing">
			<thead>
			<tr>
				<th><span>Item</span></th>
				<th><span>Created at</span></th>
				<th><span>User</span></th>
				<th><span>Resolution</span></th>
				<th><span>Status</span></th>
				<th><span>Balance</span></th>
			</tr>
			</thead>
			<tbody>
				{% for return in returns %}
					<tr>
						<td><a href="{{ url('ms.commerce.order.view.returns', {orderID: return.order.id}) }}">{{ return.item.productName }}</a></td>
						<td>{{ return.authorship.createdAt|date }}</td>
						<td><a href="">{{ return.authorship.createdBy }}</a></td>
						<td>{{ return.resolution }}</td>
						<td>{{ return.item.status }}</td>
						<td>{{ return.balance|price }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>{{ 'ms.commerce.return.none'|trans }}</p>
	{% endif %}
{% endblock %}