{% extends '::return:template' %}

{% block returns %}
	<hgroup class="title">
		<h1>{{ status }}</h1>
	</hgroup>
	<div class="container-content extended">
	{% if not returns is empty %}
		<table class="return-listing">
			<thead>
			<tr>
				<th><span>Return ID</span></th>
				<th><span>Order ID</span></th>
				<th><span>Item</span></th>
				<th><span>Created at</span></th>
				<th><span>User</span></th>
				<th><span>Resolution</span></th>
				<th><span>Status</span></th>
				<th><span>Balance</span></th>
				<th><span>Payee</span></th>
			</tr>
		</thead>
		<thead>
			<tbody>
				{% for return in returns %}

					{# @todo replace this with a loop #}
					{% set returnItem = return.item %}

					<tr>
						<td><a href="{{ url('ms.commerce.return.view', {returnID: return.id}) }}">{{ return.id }}</a></td>
						<td><a href="{{ url('ms.commerce.order.view.return', {orderID: returnItem.order.id}) }}">{{ returnItem.order.id }}</a></td>
						<td>{{ returnItem.productName }}</td>
						<td>{{ return.authorship.createdAt|date }}</td>
						<td><a href="{{ url('ms.cp.user.admin.detail.edit', {userID: returnItem.order.user.id}) }}">{{ return.authorship.createdUser.name }}</a></td>
						<td>
							{% if returnItem.isExchangeResolution %}
								Exchange
							{% else %}
								Refund
							{% endif %}
						</td>
						<td>{{ returnItem.status }}</td>
						<td>
							{% if not returnItem.hasBalance %}
								{{ returnItem.calculatedBalance|price }} (calculated)
							{% else %}
								{{ returnItem.balance|price }}
							{% endif %}
						</td>
						<td>
							{% if returnItem.payeeIsRetailer %}
								You
							{% elseif returnItem.payeeIsCustomer %}
								Customer
							{% endif %}
						</tr>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>{{ 'ms.commerce.return.status.none'|trans }}</p>
	{% endif %}
	</div>
{% endblock %}