<div class="search order">
	{{ form_start(search_form) }}
		{{ form_row(search_form.term, { 'attr': {'placeholder': 'Search returns...' } }) }}
		<button type="submit">Search</button>
	{{ form_end(search_form) }}
</div>

<ol class="menu">
	<li><a href="{{ url('ms.commerce.return.listing.status', {'status': 'awaiting-return'}) }}">Awaiting Return</a></li>
	<li><a href="{{ url('ms.commerce.return.listing.status', {'status': 'received'}) }}">Received</a></li>
	<li><a href="{{ url('ms.commerce.return.listing.status', {'status': 'awaiting-payment'}) }}">Awaiting Payment</a></li>
	<li><a href="{{ url('ms.commerce.return.listing.status', {'status': 'pending-refund'}) }}">Pending Refund</a></li>
	<li><a href="{{ url('ms.commerce.return.listing.status', {'status': 'pending-exchange'}) }}">Pending Exchange</a></li>
	<li><a href="{{ url('ms.commerce.return.listing.status', {'status': 'pending-returned-item-processing'}) }}">Pending Returned Item Processing</a></li>
	<li><a href="{{ url('ms.commerce.return.listing.status', {'status': 'completed'}) }}">Completed Returns</a></li>
	<li><a href="{{ url('ms.commerce.return.listing.status', {'status': 'rejected'}) }}">Rejected Returns</a></li>
</ol>