{% extends '::return:template' %}

{% block returns %}

{# @todo replace this with a loop #}
{% set returnItem = return.item %}

<hgroup class="title">
	<h1>Return {{ return.getDisplayID() }} <span>Last updated: {{ return.authorship.updatedAt|date }}</span></h1>
</hgroup>
	<div class="container-content tall">
		<section class="dual-column">
			<h2 class="title">
				<a href="{ url('ms.commerce.product.edit.details', {productID: returnItem.productID}) }" data-live>
					{{ returnItem.brand }} {{ returnItem.productName }}
				</a>
			</h2>

			<div class="content">
				<div class="column">

					{# Show the received form if not yet set #}
					{% if not returnItem.isReceived %}
						<h2>Returned Package</h2>
						{{ form_start(received_form) }}
							{{ form_row(received_form.received) }}
							{{ form_row(received_form.received_date) }}
							{{ form_row(received_form.message) }}

							<button class="button save small">Notify Customer</button>
						{{ form_end(received_form) }}

					{% else %}
						<h2>Returned Package</h2>
						<dl class="order-details">
							<dt>Received</dt>
							<dd>The customer has been notified that the package was received</dd>
						</dl>

						{# Show the accept / reject option if neither action has yet been taken #}
						{% if not returnItem.isAccepted and not returnItem.isRejected %}
						<h2>Accept / Reject</h2>
						{{ form_start(accepted_form) }}
							{{ form_row(accepted_form.accept_reject) }}

							<button class="button save small">Update</button>
						{{ form_end(accepted_form) }}
					{% endif %}


					{# Show refund / exchange forms if the return has been accepted #}
					{% if returnItem.isAccepted %}

						{# Show the balance form if not yet enacted #}
						{% if not returnItem.hasBalance %}
							<h2>Outstanding Balance</h2>
							{{ form_start(balance_form) }}
								{{ form_row(balance_form.payee) }}
								{{ form_row(balance_form.balance_amount) }}
								{{ form_row(balance_form.refund_approve) }}
								{{ form_row(balance_form.refund_method) }}
								{{ form_row(balance_form.message) }}

								<button class="button save small">Process Balance</button>
							{{ form_end(balance_form) }}

						{# else show the refund payments made #}
						{% else %}
							<h2>Balance Payment</h2>

							{% for refund in return.refunds %}
								<dl class="order-details">
									<dt>Payee</dt>
									<dd>You refunded the customer</dd>

									<dt>Amount </dt>
									<dd>{{ refund.amount|price }}</dd>

									<dt>Method</dt>
									<dd>{{ refund.method.getDisplayName() }}</dd>

									<dt>Date</dt>
									<dd>{{ refund.authorship.createdAt()|date }}</dd>
								</dl>
							{% else %}
								<dl class="order-details">
									<dt>Refunds</dt>
									<dd>No refunds have been made on this return</dd>
								</dl>
							{% endfor %}

							{% for payment in return.payments %}
								<dl class="order-details">
									<dt>Payee</dt>
									<dd>The customer paid you</dd>

									<dt>Amount </dt>
									<dd>{{ payment.amount|price }}</dd>

									<dt>Method</dt>
									<dd>{{ payment.method.getDisplayName() }}</dd>

									<dt>Date</dt>
									<dd>{{ payment.authorship.createdAt()|date }}</dd>
								</dl>
							{% else %}
								<dl class="order-details">
									<dt>Payments</dt>
									<dd>No payments have been made on this return</dd>
								</dl>
							{% endfor %}

							<dl class="order-details">
								<dt>Status</dt>
								{% if not returnItem.hasRemainingBalance %}
									<dd>No outstanding balance or payments</dd>
								{% elseif returnItem.payeeIsClient %}
									<dd>Awaiting customer's payment of {{ returnItem.balance|abs|price }}</dd>
								{% endif %}
							</dl>
						{% endif %}


						{# Show the exchange resolution options #}
						{% if returnItem.isExchangeResolution %}
							<h2>Exchange</h2>

							<dl class="order-details">
								<dt>Replacement Item</dt>
								<dd>
									<a href="{{ url('ms.commerce.product.edit.details', {productID: returnItem.exchangeItem.productID}) }}" data-live>{{ returnItem.exchangeItem.productName }} - {{ returnItem.exchangeItem.options }}</a>
								</dd>
							</dl>

							{# Show the exchanged form if not yet enacted #}
							{% if not returnItem.isExchanged %}
								{{ form_start(exchange_form) }}
									<button class="button save small">Set Replacement Ready For Dispatch</button>
								{{ form_end(exchange_form) }}

							{# else notify that the exchange has been made #}
							{% else %}
								<dl class="order-details">
									<dt>Status</dt>
									<dd>{{ returnItem.exchangeItem.status }}</dd>
								</dl>
							{% endif %}
						{% endif %}


						{# Show the returned item form #}
						<h2>Returned Item</h2>

						{% if not returnItem.returnedItemProcessed %}
							{{ form_start(returned_item_form) }}
								{{ form_row(returned_item_form.stock_location) }}

								<button class="button save small">Process Returned Item</button>
							{{ form_end(returned_item_form) }}
						{% else %}
							<dl class="order-details">
								<dt>Status</dt>
								<dd>{{ returnItem.status }}</dd>
							</dl>
						{% endif %}


					{# Show a message if the return has been rejected #}
					{% elseif returnItem.isRejected %}
						<dl class="order-details">
							<dt>Status</dt>
							<dd>This return was <strong>rejected</strong></dd>
						</dl>
					{% endif %}

				{% endif %}
			</div>

			<div class="column">
				<h2>Return Details</h2>
				<dl class="order-details">
					<dt>Type</dt>
					<dd>{{ return.type|title }}</dd>

					{% if (returnItem.orderItem) %}
						<dt>Order</dt>
						<dd>
							<a href="{{ url('ms.commerce.order.view.return', {orderID: returnItem.order.id}) }}">
								{{ returnItem.order.id }}
							</a>
						</dd>
					{% else %}
						<dt>Order</dt>
						<dd>Standalone</dd>
					{% endif %}

					<dt>Reason</dt>
					<dd>{{ returnItem.reason }}</dd>

					<dt>Resolution</dt>
					{% if return.isExchangeResolution %}
						<dd>
							Exchange for <a href="{{ url('ms.commerce.product.edit.details', {productID: returnItem.exchangeItem.productID}) }}" data-live>{{ returnItem.exchangeItem.productName }} - {{ returnItem.exchangeItem.options }}</a>
						</dd>
					{% else %}
						<dd>Refund</dd>
					{% endif %}

					{% if returnItem.hasBalance %}
						{% if not returnItem.hasRemainingBalance %}
							<dt>Balance</dt>
							<dd>Cleared</dd>
						{% elseif returnItem.payeeIsClient %}
							<dt>Customer Balance</dt>
							<dd>{{ returnItem.balance|abs|price }}</dd>
						{% elseif returnItem.payeeIsCustomer %}
							<dt>Your Balance</dt>
							<dd>{{ returnItem.balance|abs|price }}</dd>
						{% endif %}
					{% else %}
						{% if returnItem.payeeIsClient %}
							<dt>Customer Balance</dt>
							<dd>{{ returnItem.calculatedBalance|abs|price }}</dd>
						{% elseif returnItem.payeeIsCustomer %}
							<dt>Your Balance</dt>
							<dd>{{ returnItem.calculatedBalance|abs|price }}</dd>
						{% else %}
							<dt>Balance</dt>
							<dd>{{ 0|price }}</dd>
						{% endif %}
					{% endif %}

					<dt>Status</dt>
					<dd>{{ returnItem.status }}</dd>

					{% if returnItem.note %}
						<dt>Note</dt>
						<dd>{{ returnItem.note.note }}</dd>
					{% endif %}

					<dt>Created by</dt>
					<dd>{{ returnItem.order.user.name }} on {{ returnItem.authorship.createdAt|date }}</dd>

					{% if not returnItem.authorship.updatedAt is empty and not returnItem.authorship.updatedBy is empty %}
						<dt>Updated by</dt>
						<dd>{{ returnItem.authorship.updatedBy }} <span>at</span> {{ returnItem.authorship.updatedAt|date }}</dd>
					{% endif %}
				</dl>
			</div>
		</div>
	</section>

{% endblock returns %}