{% extends '::return:template' %}

{% block returns %}

	<section class="container-content">
		<h1>Return {{ return.getDisplayID() }} <span class="updated-date">(Last updated: {{ return.authorship.updatedAt|date }})</span></h1>

		{# @todo replace this with a loop #}
		{% set returnItem = return.item %}

		<div class="display-group">
			<h2 class="title">
				{<a href="{ url('ms.commerce.product.edit.details', {productID: returnItem.productID}) }" data-live>{{ returnItem.productName }}</a>}
				{{ returnItem.brand }} {{ returnItem.productName }}
			</h2>
			<div class="container-details dual-column" id="return{{ returnItem.id }}">

				<div class="column">
					{# Show the received form if not yet set #}
					{% if not returnItem.isReceived %}
						<h2>Returned Package</h2>
						{{ form_start(received_form) }}
							{{ form_row(received_form.received) }}
							{{ form_row(received_form.received_date) }}
							{{ form_row(received_form.message) }}

							<button class="button save small">Notify Customer</button>
						{{ form_end(received_form) }}

					{% else %}
						<h2>Returned Package</h2>
						<ul class="order-details">
							<li><span>Received</span>The customer has been notified that the package was received</li>
						</ul>

						{# Show the accept / reject option if neither action has yet been taken #}
						{% if not returnItem.isAccepted and not returnItem.isRejected %}
							<h2>Accept / Reject</h2>
							{{ form_start(accepted_form) }}
								{{ form_row(accepted_form.accept_reject) }}

								<button class="button save small">Update</button>
							{{ form_end(accepted_form) }}
						{% endif %}


						{# Show refund / exchange forms if the return has been accepted #}
						{% if returnItem.isAccepted %}

							{# Show the balance form if not yet enacted #}
							{% if not returnItem.hasBalance %}
								<h2>Outstanding Balance</h2>
								{{ form_start(balance_form) }}
									{{ form_row(balance_form.payee) }}
									{{ form_row(balance_form.balance_amount) }}
									{{ form_row(balance_form.refund_approve) }}
									{{ form_row(balance_form.refund_method) }}
									{{ form_row(balance_form.message) }}

									<button class="button save small">Process Balance</button>
								{{ form_end(balance_form) }}

							{# else show the refund payments made #}
							{% else %}
								<h2>Balance Payment</h2>
								{% for refund in returnItem.refunds %}
									<ul class="order-details">
										<li>
											{% if returnItem.balance > 0 %}
												<span>Payee</span>The customer paid
											{% else %}
												<span>Payee</span>You refunded the customer
											{% endif %}
										</li>
										<li><span>Amount </span>{{ refund.amount|price }}</li>
										<li><span>Method </span>{{ refund.method.getDisplayName() }}</li>
										<li><span>Date </span>{{ refund.authorship.createdAt()|date }}</li>
									</ul>
								{% else %}
									<ul class="order-details">
										{% if not returnItem.hasRemainingBalance %}
											<li><span>Status</span>No outstanding balance or payments</li>
										{% elseif returnItem.payeeIsClient %}
											<li><span>Status</span>Awaiting customer's payment of {{ returnItem.balance|abs|price }}</li>
										{% endif %}
									</ul>
								{% endfor %}
							{% endif %}


							{# Show the exchange resolution options #}
							{% if returnItem.isExchangeResolution %}
								<h2>Exchange</h2>

								<ul class="order-details">
									<li><span>Replacement Item</span>
										<a href="{{ url('ms.commerce.product.edit.details', {productID: returnItem.exchangeItem.productID}) }}" data-live>{{ returnItem.exchangeItem.productName }} - {{ returnItem.exchangeItem.options }}</a>
									</li>
								</ul>

								{# Show the exchanged form if not yet enacted #}
								{% if not returnItem.isExchanged %}
									{{ form_start(exchange_form) }}
										<button class="button save small">Set Replacement Ready For Dispatch</button>
									{{ form_end(exchange_form) }}

								{# else notify that the exchange has been made #}
								{% else %}
									<ul class="order-details">
										<li><span>Status</span>{{ returnItem.exchangeItem.status }}</li>
									</ul>
								{% endif %}
							{% endif %}


							{# Show the returned item form #}
							<h2>Returned Item</h2>

							{% if not returnItem.returnedItemProcessed %}
								{{ form_start(returned_item_form) }}
									{{ form_row(returned_item_form.stock_location) }}

									<button class="button save small">Process Returned Item</button>
								{{ form_end(returned_item_form) }}
							{% else %}
								<ul class="order-details">
									<li><span>Status</span>{{ returnItem.status }}</li>
							{% endif %}


						{# Show a message if the return has been rejected #}
						{% elseif returnItem.isRejected %}
							<ul class="order-details">
								<li><span>Status </span>This return was <strong>rejected</strong></li>
							</ul>
						{% endif %}

					{% endif %}
				</div>

				<div class="column">
					<h2>Return Details</h2>
					<ul class="order-details">
						<li><span>Order</span><a href="{{ url('ms.commerce.order.view.return', {orderID: returnItem.order.id}) }}">{{ returnItem.order.id }}</a></li>
						<li><span>Reason </span>{{ returnItem.reason }}</li>
						<li>
							<span>Resolution </span>{{ returnItem.resolution }}
							{% if returnItem.isExchangeResolution %}
								{% if returnItem.exchangeItem %}
									for <a href="{{ url('ms.commerce.product.edit.details', {productID: returnItem.exchangeItem.productID}) }}" data-live>{{ returnItem.exchangeItem.productName }} - {{ returnItem.exchangeItem.options }}</a>
								{% else %}
									{ERROR}
								{% endif %}
							{% endif %}
						</li>
						<li>
							{% if not returnItem.hasBalance %}
								{% if returnItem.payeeIsClient %}
									<span>Customer Balance</span>{{ returnItem.calculatedBalance|abs|price }}
								{% elseif returnItem.payeeIsCustomer %}
									<span>Your Balance</span>{{ returnItem.calculatedBalance|abs|price }}
								{% else %}
									<span>Balance</span>None
								{% endif %}
							{% else %}
								{% if returnItem.payeeIsClient %}
									<span>Customer Balance</span>{{ returnItem.balance|abs|price }}
								{% elseif returnItem.payeeIsCustomer %}
									<span>Your Balance</span>{{ returnItem.balance|abs|price }}
								{% else %}
									<span>Balance</span>Cleared
								{% endif %}
							{% endif %}
						</li>
						<li><span>Status </span>{{ returnItem.status }}</li>
						{% if returnItem.note %}
							<li><span>Note</span>{{ returnItem.note.note }}</li>
						{% endif %}
						<li><span>Created by</span>{{ returnItem.order.user.name }} on {{ returnItem.authorship.createdAt|date }}</li>
						{% if not returnItem.authorship.updatedAt is empty and not returnItem.authorship.updatedBy is empty %}
							<li><span>Updated by</span> {{ returnItem.authorship.updatedBy }} <span>at</span> {{ returnItem.authorship.updatedAt|date }}</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</section>

{% endblock returns %}