{% extends 'Message:Mothership:User::account:account-layout' %}
{% block title %}Return balance paid | {{ return.getDisplayID() }} | {{ app.cfg.app.name }}{% endblock %}

{% block account_content %}

	<section>
		<h1>Your return balance payment has been completed</h1>
	</section>

	<section>
		<p>Your balance has been paid.</p>

		<dl>
			<dt>Return</dt>
			<dd>{{ return.getDisplayID() }}</dd>

			<dt>Returned Item</dt>
			<dd>{{ return.item.productName }}, {{ return.item.options }}</dd>

			<dt>Exchange Item</dt>
			<dd>{{ return.exchangeItem.productName }}, {{ return.exchangeItem.options }}</dd>

			<dt>Your balance</dt>
			{% if return.payeeIsClient() %}
				<dd>{{ return.getPayableAmount()|price }} remaining</dd>
			{% else %}
				<dd>You have no remaining balance to pay</dd>
			{% endif %}
		</dl>
	</section>

{% endblock %}